.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.logo-icon{
  height: 85px;
}

.brand{
    height: 105px;
}

.right-nav{
    font-size: 18px;
}

.name{
  margin-top: 40px;
}

.canvas {
  display: block;
  
}

.buttons {
  float: left;
  margin-left: 80px;
}

.butt {
  margin: 10px;
}

.the-category {
  display: none; 
}


.empty-form {
  width: 600px;
}

.form-whole {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.main{
  margin-top: 110px;
}

.home-page-title{
    font-family: 'Permanent Marker', cursive;
    color: #FBC02D !important;
}

.login-buttons{
  margin-top: 70px;
  margin-left: 80px;
}

.email-title{
  text-align: left !important
}
